[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
findspark = "*"
ipython = "*"
jupyter = "*"
pyarrow = "*"
pandas = "*"
"ruamel.yaml" = "*"
httpx = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "2.7"
